iframe{
    border-radius: 20px;
}
fieldset{
    border-style: dashed black;
}
body{
    background-color: wheat;
    font-family: 'monaco';
}
legend{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 5px;
}
a, button{
    background-color: black;
    border-radius: 0px;
    border: black 0px;
    color: white;
    padding: 5px;
    text-decoration: none;
}
a:hover,
a:focus,
button:hover,
button:focus {
  color: #999;
}
a:active,
button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}
img{
    border-radius: 20px;
}
#center{
    display: block;
    align-items: center;
    text-align: center;
}
p, a{
    font-size: large;
}
#smaller{
    font-size: 25%;
    margin-top: 2%;
    display: inline-block;
}
@media (max-width: 600px) {
    a{
        margin-right: 5px;
        margin-top: 99999999px;
        align-items: center;
        text-align: center;
        padding: 5px;
    }
    button{
        padding: 5px;
        font-size: larger;
    }
    img, iframe{
        width: 290px;
        height: auto;
    }
    p{
        font-size: larger;
        font-weight: 900;
    }
    #smaller{
        font-size: 12px;
    }
  }